<html>

<head>
	<meta charset="utf-8">
	<title>
		{% block title %} <!-- 定義給子版用的區域，並非一定要使用，block 後的名字自取-->
		{% endblock %}
	</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" >

	{% block css %}
	{% endblock %}

	{% block js %}
	{% endblock %}

</head>

<body>
	<div id='banner'>
	</div>

	<div id='menu'>
		<ul>
			<li><a href="/">首頁</a></li>
			<li><a href="#">利率</a></li>
			<li><a href="/product">產品</a></li>
			<li><a href="/food">美食</a></li>
			<li><a href="/news">新聞</a></li>
			<li><a href="/contact">聯絡我們</a></li>
		</ul>
	</div>

	<div id='content'>
		{% block maincontent %}
		{% endblock %}
	</div>

	<div id='footer'>
	</div>

</body>

</html>