/*這是註解方式*/
/*色票 https://www.colordic.org/w */
/* 因為繼承母版的css，所以相同的不用寫 */

.allnews{
	margin-left: 10%;
	margin-top: 2%;
}

.newsarea{
	width: 25%;
	margin-left: 2em;
	margin-right: 2em;
	height: 300px;
	float: left;
}

.newsarea img{
	width: 100%; /* 在newsarea 23%中的100% */
}


