{% extends 'base.html' %}

{% block titleblock %}
	購物完成
{% endblock %}

{% block css %}
<link rel='stylesheet' href='/static/css/contact.css'>
{% endblock %}

{% block mainarea %}

	<div style="margin-top: 50px;"></div>
	<div id='cartDiv'>
		<p class='title'>訂購完成資訊</p>
		<p class='subject'>非常感謝您購買我們的產品！</p>
		<p class='describe'><strong>{{name}}</strong>先生/小姐，您的訂單已成立！我們會盡快為您出貨！</p>
		<p class='describe'><a href="/cartordercheck/?orderid={{orderid}}&guestemail={{email}}">訂單詳細頁</a></p>
	</div>

{% endblock %}