{% extends 'base.html' %}

{% block titleblock %}
照片上傳
{% endblock %}

{% block css %}
<link rel='stylesheet' href='/static/css/contact.css'>
{% endblock %}

{% block mainarea %}

	<div style="margin-top: 30px;"></div>
	<h2>圖片區</h2>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-4">
				{{ form.image }}
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-4">
				<input type="submit" value="上傳" />
			</div>
		</div>
	</form>

	<div class="row">
		{% for photo in photos %}
			{% if photo.image %}
				<div class="col-md-4">
					<div class="imgArea">
						<img src="{{ photo.image.url }}" class="img-top">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>



{% endblock %}