.newsInfo{
	clear: both;
	padding:1%;
	padding-left: 2%;
	height: 180px;
}

.newsImg{
	float: left;
	width: 22%;
}

.newsImg img{
	width: 100%;
	border-radius: 3%;
	padding: 1%;
	padding-top:7%;
}

.newsContent{
	float: left;
	width: 75%;
	height: 170px;
	margin-left:2%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.newsContent p{
	font-size: 20px;
	font-weight: bold;
	margin-top: 1px;
	margin-bottom: 8px;
}
