form{
	margin-left: 5%;
}

.GoodsArea{
	width: 100%;
	margin-top: 50px;
	text-decoration: none;
}

.goodsinfo{
	width: 20%;
	height: 380px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-bottom: 1%;
	padding:1%;
	margin-left: 2%;
}

.goodsinfo img{
	width: 100%;
	border-radius: 15px;
}

.goodsinfo p{
	font-size: 20px;
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
}
