{% extends 'base.html' %}

{% block titleblock %}
新聞
{% endblock %}

{% block css %}
<link rel='stylesheet' href='/static/css/news.css'>
{% endblock %}

{% block mainarea %}
	{% for item in data %}

		<div class="newsInfo">
			<div class="newsImg">
				<img src="{{item.photo_url}}">
			</div>

			<div class="newsContent">
				<p>{{item.title}}</p>
				<span>{{item.content}}</span>
			</div>
		</div>

	{% endfor %}

	<!--分頁-->
	<div style="clear:both;"></div>
	<div style="float:left; height: 60px; padding-top: 100px; padding-left: 45%;">
		{% if data.has_previous %}
			<a href="?page={{data.previous_page_number}}">上一頁</a>
		{% endif %}

		{% if data.has_next %}
			<a href="?page={{data.next_page_number}}">下一頁</a>
		{% endif %}
	</div>
{% endblock %}
